* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0E1824;
  color: #fff;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1 {
  margin: 2rem;
}

table {
  background-color: #1F2C3C;
  width: 40rem;
  border-radius: 4px;
  padding: 4rem;
}

th {
  padding: 1rem;
}

td {
  text-align: center;
  padding-bottom: 0.3rem;
}


